{% extends "nlr_ma_base.html" %}

{% block content %}
{% load staticfiles %}

<link href="{% static "new_nin2/nin2.css" %}" rel="stylesheet">

<div style="margin-top: 30px;" class="row">
	<div class="col l6 offset-l3 m8 offset-m2 s12">
		<div class="nin-question">
			<h4 style="font-size: 24px;">
				<i class="material-icons red-icons">question_answer</i>
				<span>{{problem.get_problem}}</span>
			</h4>		
		</div>
		<div class="card">
			<div class="card-content">
				<span style="font-size:16px;">{{problem.get_explain}}</span>
			</div>
		</div>	

		<form method="POST">
		{% csrf_token %}
			{% for choice in problem.get_choice_list %}
			<div class="input-field col s12">
				<input type="{{choice.inputtype}}" id="c{{forloop.counter}}"  name="choice{{forloop.counter}}" placeholder="{{choice.placeholder}}">
				<label for="c{{forloop.counter}}">{{choice.label}}</label>
			</div>
			{% endfor %}
			<button class="btn btn-right waves-effect waves-light red" type="submit">
					Next!
			</button>
		</form>
	</div>
</div>


<script>
	$(document).ready(function(){
		var regex_num = /^[0-9]+$/;
		$("form").submit(function(){
			var input_arr = document.getElementsByTagName("input");
			for(var idx = 0; idx < input_arr.length; idx++){
				var input_obj = input_arr[idx];
				if(input_obj.type == "number"){
					if (regex_num.test(input_obj.value) != true){
						alert("모두 입력해주세요");
						return false;
					}
				}
			}
		});
	});
</script>



{% endblock %}
