<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="http://d3js.org/d3.v3.js"></script>

    <style>
		html, body {
			height:100%;
		}

		.node circle {
		    fill: #F6CE24;
				opacity: 0.6;
		    stroke: #F6CE24;
		    stroke-width: 0;
		}

		.node:hover circle {
			/*fill: #F6CE24;*/
			opacity: 1;
		}


		.taken_node circle {
			fill: #58C4CC;
			opacity: 0.6;
			stroke: #58C4CC;
			stroke-width: 0;
		}

		.taken_node:hover circle {
			/*fill: #58C4CC;*/
			opacity: 1;
		}

		.recommend_node circle {
			fill: #56A3DA;
			opacity: 0.6;
			stroke: #56A3DA;
			stroke-width: 0;
		}

		.recommend_node:hover circle {
			/*fill: #56A3DA;*/
			opacity: 1;
		}

		g.select_node circle{
			opacity: 1;
		}

		g.selected_node circle{
			opacity: 1;
		}

		circle.hover_node_border  {
			fill:transparent;
	    stroke-width: 2;
			visibility: hidden;
		}

		circle.select_node_border  {
			fill:transparent;
		  stroke-width: 1;
		}

		circle.selected_node_border  {
			fill:transparent;
			stroke-width: 2;
		}

		.link {
	    stroke: #CCCCCC;
			marker-end: url(#marker_arrow);
		}
		marker#marker_arrow {
			fill: #CCCCCC;
		}

		.select_link {
			stroke: #F59EA2;
			marker-end: url(#marker_arrow2);
		}
		marker#marker_arrow2 {
			fill: #F59EA2;
		}

		.selected_link {
			stroke: #F59EA2;
			marker-end: url(#marker_arrow2);
		}
		marker#marker_arrow2 {
			fill: #F59EA2;
		}

		.strong_link {
			stroke-width: 2;
		}

		.weak_link {
			stroke-width: 1;
			stroke-dasharray: 5,5;
		}

		.lecture_code {
			font-family: sans-serif;
			font-size: 12px;
			text-anchor: middle;
			alignment-baseline: middle;
			fill: #333535;
		}

		.lecture_code_with_name text {
			font-family: sans-serif;
			font-size: 6px;
			text-anchor: middle;
			alignment-baseline: middle;
			fill: #333535;
		}

	</style>
</head>
<body>
	<script>
	var data = {
	    "node": [
	        {
	            "recent_year": 2015,
	            "name_kor": "프로그래밍기초",
	            "relative_position": 33,
	            "depth": 10,
	            "code_name": "CS101",
	            "name_eng": "Introduction to Programming",
	            "system_num": 5320081,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "프로그래밍 실습",
	            "relative_position": 66,
	            "depth": 10,
	            "code_name": "CS109",
	            "name_eng": "Programming Practice",
	            "system_num": 5320089,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "디지탈시스템 및 실험",
	            "relative_position": 12,
	            "depth": 20,
	            "code_name": "CS211",
	            "name_eng": "Digital System and Lab",
	            "system_num": 5321413,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "이산구조",
	            "relative_position": 25,
	            "depth": 20,
	            "code_name": "CS204",
	            "name_eng": "Discrete Mathematics",
	            "system_num": 5321380,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "지능 로봇 설계 및 프로그래밍",
	            "relative_position": 37,
	            "depth": 21,
	            "code_name": "CS270",
	            "name_eng": "Intelligent robot design and programming",
	            "system_num": 5321628,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "프로그래밍의 이해",
	            "relative_position": 50,
	            "depth": 21,
	            "code_name": "CS220",
	            "name_eng": "Programming Principles",
	            "system_num": 5321448,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "데이타구조",
	            "relative_position": 62,
	            "depth": 20,
	            "code_name": "CS206",
	            "name_eng": "Data Structure",
	            "system_num": 5321382,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "시스템프로그래밍",
	            "relative_position": 75,
	            "depth": 21,
	            "code_name": "CS230",
	            "name_eng": "System Programming",
	            "system_num": 5321484,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "문제해결기법",
	            "relative_position": 87,
	            "depth": 21,
	            "code_name": "CS202",
	            "name_eng": "Problem Solving",
	            "system_num": 5321378,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "소프트웨어 공학 개론",
	            "relative_position": 7,
	            "depth": 30,
	            "code_name": "CS350",
	            "name_eng": "Introduction to Software Engineering",
	            "system_num": 5322852,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "형식언어및오토마타",
	            "relative_position": 15,
	            "depth": 30,
	            "code_name": "CS322",
	            "name_eng": "Formal Languages and Automata",
	            "system_num": 5322746,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "프로그래밍언어",
	            "relative_position": 23,
	            "depth": 31,
	            "code_name": "CS320",
	            "name_eng": "Programming Language",
	            "system_num": 5322744,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "데이타베이스 개론",
	            "relative_position": 30,
	            "depth": 30,
	            "code_name": "CS360",
	            "name_eng": "Introduction to Database",
	            "system_num": 5322888,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "전산망 개론",
	            "relative_position": 38,
	            "depth": 30,
	            "code_name": "CS341",
	            "name_eng": "Introduction to Computer Networks",
	            "system_num": 5322817,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2013,
	            "name_kor": "네트워크 과학의 융합적 접근",
	            "relative_position": 46,
	            "depth": 31,
	            "code_name": "CS340",
	            "name_eng": "Interdisciplinary Approach to Network Science",
	            "system_num": 5322816,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "내장형 컴퓨터 시스템",
	            "relative_position": 53,
	            "depth": 30,
	            "code_name": "CS310",
	            "name_eng": "Embedded Computer Systems",
	            "system_num": 5322708,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "전산기조직",
	            "relative_position": 61,
	            "depth": 31,
	            "code_name": "CS311",
	            "name_eng": "Computer Organization",
	            "system_num": 5322709,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "운영체제 및 실험",
	            "relative_position": 69,
	            "depth": 32,
	            "code_name": "CS330",
	            "name_eng": "Operating Systems and Lab",
	            "system_num": 5322780,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "알고리즘 개론",
	            "relative_position": 76,
	            "depth": 31,
	            "code_name": "CS300",
	            "name_eng": "Introduction to Algorithms",
	            "system_num": 5322672,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "컴퓨터 그래픽스 개론",
	            "relative_position": 84,
	            "depth": 32,
	            "code_name": "CS380",
	            "name_eng": "Introduction to Computer Graphics",
	            "system_num": 5322960,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "파이썬을 통한 자연언어처리",
	            "relative_position": 92,
	            "depth": 32,
	            "code_name": "CS372",
	            "name_eng": "Natural Language Processing with Python",
	            "system_num": 5322926,
	            "college_id": 8
	        },
	        {
	            "name_kor": "심볼릭 프로그래밍",
	            "depth": -30,
	            "code_name": "CS370",
	            "name_eng": "Symbolic Programming",
	            "system_num": 5322924,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "전산학 프로젝트",
	            "relative_position": 11,
	            "depth": 40,
	            "code_name": "CS408",
	            "name_eng": "Computer Science Project",
	            "system_num": 5323976,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "모바일 컴퓨팅과 응용",
	            "relative_position": 22,
	            "depth": 40,
	            "code_name": "CS442",
	            "name_eng": "Mobile Computing and Applications",
	            "system_num": 5324114,
	            "college_id": 8
	        },
	        {
	            "name_kor": "VLSI설계개론",
	            "relative_position": 33,
	            "depth": 40,
	            "code_name": "CS410",
	            "name_eng": "Introduction to VLSI Design",
	            "system_num": 5324004,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "인공지능개론",
	            "relative_position": 44,
	            "depth": 40,
	            "code_name": "CS470",
	            "name_eng": "Introduction to Artificial Intelligence",
	            "system_num": 5324220,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "계산이론",
	            "relative_position": 55,
	            "depth": 40,
	            "code_name": "CS422",
	            "name_eng": "Computation Theory",
	            "system_num": 5324042,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "대화형 컴퓨터그래픽스",
	            "relative_position": 66,
	            "depth": 40,
	            "code_name": "CS482",
	            "name_eng": "Interactive Computer Graphics",
	            "system_num": 5324258,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2013,
	            "name_kor": "텍스트마이닝",
	            "relative_position": 77,
	            "depth": 41,
	            "code_name": "CS474",
	            "name_eng": "Text Mining",
	            "system_num": 5324224,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "컴파일러설계",
	            "relative_position": 88,
	            "depth": 40,
	            "code_name": "CS420",
	            "name_eng": "Compiler Design",
	            "system_num": 5324040,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "정보보호개론",
	            "depth": -40,
	            "code_name": "CS448",
	            "name_eng": "Introduction to Information Security",
	            "system_num": 5324120,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "바이오의료응용 집단지성",
	            "depth": -40,
	            "code_name": "CS476",
	            "name_eng": "Collective Intelligence in Biomedical Applications",
	            "system_num": 5324226,
	            "college_id": 8
	        },
	        {
	            "name_kor": "세미나",
	            "depth": -40,
	            "code_name": "CS496",
	            "name_eng": "Seminar",
	            "system_num": 5324298,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "개별연구",
	            "depth": -40,
	            "code_name": "CS495",
	            "name_eng": "Individual Study",
	            "system_num": 5324297,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "웹 기술과 경영 전략",
	            "depth": -40,
	            "code_name": "CS459",
	            "name_eng": "Web Technologies and Business Strategies",
	            "system_num": 5324157,
	            "college_id": 8
	        },
	        {
	            "name_kor": "전산망개론",
	            "depth": -40,
	            "code_name": "CS441",
	            "name_eng": "Introduction to Computer Network",
	            "system_num": 5324113,
	            "college_id": 8
	        },
	        {
	            "name_kor": "소프트웨어프로젝트",
	            "depth": -40,
	            "code_name": "CS455",
	            "name_eng": "Software Project",
	            "system_num": 5324153,
	            "college_id": 8
	        },
	        {
	            "name_kor": "모바일 응용 개발",
	            "depth": -40,
	            "code_name": "CS446",
	            "name_eng": "Mobile Applications Development",
	            "system_num": 5324118,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "IT 서비스공학",
	            "depth": -40,
	            "code_name": "CS451",
	            "name_eng": "IT Service Engineering",
	            "system_num": 5324149,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "전산학특강<자연언어처리의 핵심과 응용>",
	            "depth": -40,
	            "code_name": "CS492",
	            "name_eng": "Special Topics in Computer Science",
	            "system_num": 5324294,
	            "college_id": 8
	        },
	        {
	            "name_kor": "금융 데이터 분석기법",
	            "depth": -40,
	            "code_name": "CS478",
	            "name_eng": "Financial Data Analysis and Mining",
	            "system_num": 5324228,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "비즈니스 프로세스 설계 및 관리",
	            "depth": -40,
	            "code_name": "CS452",
	            "name_eng": "Business Process Engineering and Management",
	            "system_num": 5324150,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2013,
	            "name_kor": "전산논리학개론",
	            "depth": -40,
	            "code_name": "CS402",
	            "name_eng": "Introduction to Logic for Computer Science",
	            "system_num": 5323970,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "분산 알고리즘 및 시스템",
	            "depth": -40,
	            "code_name": "CS443",
	            "name_eng": "Distributed Algorithms and Systems",
	            "system_num": 5324115,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2012,
	            "name_kor": "영상처리 입문",
	            "depth": -40,
	            "code_name": "CS484",
	            "name_eng": "Introduction to Image Processing",
	            "system_num": 5324260,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2012,
	            "name_kor": "전산학특강 I<고급알고리즘>",
	            "depth": -40,
	            "code_name": "CS493",
	            "name_eng": "Special Topics in Computer Science I",
	            "system_num": 5324295,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "웹기반 소프트웨어 개발",
	            "depth": -40,
	            "code_name": "CS457",
	            "name_eng": "Web-based Software Development",
	            "system_num": 5324155,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "소프트웨어 테스팅 자동화 기법",
	            "depth": -40,
	            "code_name": "CS453",
	            "name_eng": "Automated Software Testing",
	            "system_num": 5324151,
	            "college_id": 8
	        },
	        {
	            "name_kor": "컴퓨터그래픽스개론",
	            "depth": -40,
	            "code_name": "CS480",
	            "name_eng": "Introduction to Computer Graphics",
	            "system_num": 5324256,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "컴퓨터윤리와사회문제",
	            "depth": -40,
	            "code_name": "CS489",
	            "name_eng": "Computer Ethics & Social issues",
	            "system_num": 5324265,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "인간-컴퓨터 상호작용",
	            "depth": -40,
	            "code_name": "CS472",
	            "name_eng": "Human-Computer Interaction",
	            "system_num": 5324222,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "전산학특강 II<공개 소프트웨어 소개>",
	            "depth": -40,
	            "code_name": "CS494",
	            "name_eng": "Special Topics in Computer Science II",
	            "system_num": 5324296,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "졸업연구",
	            "depth": -40,
	            "code_name": "CS490",
	            "name_eng": "Research in Computer Science",
	            "system_num": 5324292,
	            "college_id": 8
	        },
	        {
	            "name_kor": "소프트웨어 및 시스템 설계",
	            "depth": -50,
	            "code_name": "CS554",
	            "name_eng": "Designs for Software and Systems",
	            "system_num": 5325448,
	            "college_id": 8
	        },
	        {
	            "name_kor": "스마트 비지니스 응용 및 개발",
	            "depth": -50,
	            "code_name": "CS541",
	            "name_eng": "Smart Business Application and Development",
	            "system_num": 5325409,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2013,
	            "name_kor": "생체 공학적 인간-로봇 상호작용",
	            "depth": -50,
	            "code_name": "CS578",
	            "name_eng": "Bionic Human-Robot Interaction",
	            "system_num": 5325524,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "데이타베이스시스템",
	            "depth": -50,
	            "code_name": "CS560",
	            "name_eng": "Database System",
	            "system_num": 5325480,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "무선이동인터넷",
	            "depth": -50,
	            "code_name": "CS546",
	            "name_eng": "Wireless Mobile Internet",
	            "system_num": 5325414,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "컴퓨터그래픽스",
	            "depth": -50,
	            "code_name": "CS580",
	            "name_eng": "Computer Graphics",
	            "system_num": 5325552,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "프로그래밍언어이론",
	            "depth": -50,
	            "code_name": "CS520",
	            "name_eng": "Theory of Programming Language",
	            "system_num": 5325336,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "인터넷 시스템 기술",
	            "depth": -50,
	            "code_name": "CS542",
	            "name_eng": "Internet System Technology",
	            "system_num": 5325410,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "소프트웨어공학",
	            "depth": -50,
	            "code_name": "CS550",
	            "name_eng": "Software Engineering",
	            "system_num": 5325444,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "시맨틱 웹",
	            "depth": -50,
	            "code_name": "CS590",
	            "name_eng": "Semantic Web",
	            "system_num": 5325588,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "컴퓨터구조",
	            "depth": -50,
	            "code_name": "CS510",
	            "name_eng": "Computer Architecture",
	            "system_num": 5325300,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2012,
	            "name_kor": "컴퓨터비전",
	            "depth": -50,
	            "code_name": "CS576",
	            "name_eng": "Computer Vision",
	            "system_num": 5325522,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "운영체제",
	            "depth": -50,
	            "code_name": "CS530",
	            "name_eng": "Operating System",
	            "system_num": 5325372,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "계산기하학",
	            "depth": -50,
	            "code_name": "CS504",
	            "name_eng": "Computational Geometry",
	            "system_num": 5325268,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "분산시스템",
	            "depth": -50,
	            "code_name": "CS543",
	            "name_eng": "Distributed Systems",
	            "system_num": 5325411,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "인공지능 및 기계학습",
	            "depth": -50,
	            "code_name": "CS570",
	            "name_eng": "Artificial Intelligence and Machine Learning",
	            "system_num": 5325516,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "계산언어학",
	            "depth": -50,
	            "code_name": "CS579",
	            "name_eng": "Computational Linguistics",
	            "system_num": 5325525,
	            "college_id": 8
	        },
	        {
	            "name_kor": "소프트웨어 생태계",
	            "depth": -50,
	            "code_name": "CS591",
	            "name_eng": "Software Ecosystem",
	            "system_num": 5325589,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2013,
	            "name_kor": "데이타베이스설계",
	            "depth": -50,
	            "code_name": "CS562",
	            "name_eng": "Database Design",
	            "system_num": 5325482,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "소프트웨어 시스템 모델링",
	            "depth": -50,
	            "code_name": "CS552",
	            "name_eng": "Models of Software Systems",
	            "system_num": 5325446,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "형식언어및오토마타이론",
	            "depth": -50,
	            "code_name": "CS522",
	            "name_eng": "Theory of Formal Language and Automata",
	            "system_num": 5325338,
	            "college_id": 8
	        },
	        {
	            "name_kor": "정보보안",
	            "depth": -50,
	            "code_name": "CS544",
	            "name_eng": "Information Security",
	            "system_num": 5325412,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "지능형 로보틱스",
	            "depth": -50,
	            "code_name": "CS572",
	            "name_eng": "Intelligent Robotics",
	            "system_num": 5325518,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2014,
	            "name_kor": "네트워크아키텍춰",
	            "depth": -50,
	            "code_name": "CS540",
	            "name_eng": "Network Architecture",
	            "system_num": 5325408,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "고급 정보보호",
	            "depth": -50,
	            "code_name": "CS548",
	            "name_eng": "Advanced Information Security",
	            "system_num": 5325416,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "알고리즘설계와해석",
	            "depth": -50,
	            "code_name": "CS500",
	            "name_eng": "Design and Analysis of Algorithm",
	            "system_num": 5325264,
	            "college_id": 8
	        },
	        {
	            "recent_year": 2015,
	            "name_kor": "자연언어처리 I",
	            "depth": -50,
	            "code_name": "CS574",
	            "name_eng": "Natural Language Processing I",
	            "system_num": 5325520,
	            "college_id": 8
	        }
	    ],
	    "edge": [
	        {
	            "target_name": "CS202",
	            "source": 0,
	            "source_name": "CS101",
	            "target": 8,
	            "level": 70
	        },
	        {
	            "target_name": "CS204",
	            "source": 0,
	            "source_name": "CS101",
	            "target": 3,
	            "level": 25
	        },
	        {
	            "target_name": "CS206",
	            "source": 0,
	            "source_name": "CS101",
	            "target": 6,
	            "level": 70
	        },
	        {
	            "target_name": "CS206",
	            "source": 1,
	            "source_name": "CS109",
	            "target": 6,
	            "level": 10
	        },
	        {
	            "target_name": "CS300",
	            "source": 8,
	            "source_name": "CS202",
	            "target": 18,
	            "level": 25
	        },
	        {
	            "target_name": "CS220",
	            "source": 3,
	            "source_name": "CS204",
	            "target": 5,
	            "level": 25
	        },
	        {
	            "target_name": "CS270",
	            "source": 3,
	            "source_name": "CS204",
	            "target": 4,
	            "level": 25
	        },
	        {
	            "target_name": "CS300",
	            "source": 3,
	            "source_name": "CS204",
	            "target": 18,
	            "level": 70
	        },
	        {
	            "target_name": "CS322",
	            "source": 3,
	            "source_name": "CS204",
	            "target": 10,
	            "level": 50
	        },
	        {
	            "target_name": "CS202",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 8,
	            "level": 70
	        },
	        {
	            "target_name": "CS230",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 7,
	            "level": 50
	        },
	        {
	            "target_name": "CS300",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 18,
	            "level": 75
	        },
	        {
	            "target_name": "CS311",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 16,
	            "level": 50
	        },
	        {
	            "target_name": "CS360",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 12,
	            "level": 50
	        },
	        {
	            "target_name": "CS380",
	            "source": 6,
	            "source_name": "CS206",
	            "target": 19,
	            "level": 50
	        },
	        {
	            "target_name": "CS230",
	            "source": 2,
	            "source_name": "CS211",
	            "target": 7,
	            "level": 25
	        },
	        {
	            "target_name": "CS310",
	            "source": 2,
	            "source_name": "CS211",
	            "target": 15,
	            "level": 15
	        },
	        {
	            "target_name": "CS320",
	            "source": 5,
	            "source_name": "CS220",
	            "target": 11,
	            "level": 15
	        },
	        {
	            "target_name": "CS310",
	            "source": 7,
	            "source_name": "CS230",
	            "target": 15,
	            "level": 10
	        },
	        {
	            "target_name": "CS311",
	            "source": 7,
	            "source_name": "CS230",
	            "target": 16,
	            "level": 25
	        },
	        {
	            "target_name": "CS330",
	            "source": 7,
	            "source_name": "CS230",
	            "target": 17,
	            "level": 75
	        },
	        {
	            "target_name": "CS341",
	            "source": 7,
	            "source_name": "CS230",
	            "target": 13,
	            "level": 55
	        },
	        {
	            "target_name": "CS372",
	            "source": 18,
	            "source_name": "CS300",
	            "target": 20,
	            "level": 25
	        },
	        {
	            "target_name": "CS380",
	            "source": 18,
	            "source_name": "CS300",
	            "target": 19,
	            "level": 50
	        },
	        {
	            "target_name": "CS422",
	            "source": 18,
	            "source_name": "CS300",
	            "target": 26,
	            "level": 40
	        },
	        {
	            "target_name": "CS470",
	            "source": 18,
	            "source_name": "CS300",
	            "target": 25,
	            "level": 25
	        },
	        {
	            "target_name": "CS311",
	            "source": 15,
	            "source_name": "CS310",
	            "target": 16,
	            "level": 10
	        },
	        {
	            "target_name": "CS330",
	            "source": 16,
	            "source_name": "CS311",
	            "target": 17,
	            "level": 25
	        },
	        {
	            "target_name": "CS410",
	            "source": 16,
	            "source_name": "CS311",
	            "target": 24,
	            "level": 25
	        },
	        {
	            "target_name": "CS420",
	            "source": 11,
	            "source_name": "CS320",
	            "target": 29,
	            "level": 65
	        },
	        {
	            "target_name": "CS300",
	            "source": 10,
	            "source_name": "CS322",
	            "target": 18,
	            "level": 25
	        },
	        {
	            "target_name": "CS320",
	            "source": 10,
	            "source_name": "CS322",
	            "target": 11,
	            "level": 25
	        },
	        {
	            "target_name": "CS372",
	            "source": 10,
	            "source_name": "CS322",
	            "target": 20,
	            "level": 15
	        },
	        {
	            "target_name": "CS422",
	            "source": 10,
	            "source_name": "CS322",
	            "target": 26,
	            "level": 70
	        },
	        {
	            "target_name": "CS470",
	            "source": 10,
	            "source_name": "CS322",
	            "target": 25,
	            "level": 25
	        },
	        {
	            "target_name": "CS340",
	            "source": 13,
	            "source_name": "CS341",
	            "target": 14,
	            "level": 10
	        },
	        {
	            "target_name": "CS442",
	            "source": 13,
	            "source_name": "CS341",
	            "target": 23,
	            "level": 10
	        },
	        {
	            "target_name": "CS408",
	            "source": 9,
	            "source_name": "CS350",
	            "target": 22,
	            "level": 5
	        },
	        {
	            "target_name": "CS420",
	            "source": 20,
	            "source_name": "CS372",
	            "target": 29,
	            "level": 10
	        },
	        {
	            "target_name": "CS474",
	            "source": 20,
	            "source_name": "CS372",
	            "target": 28,
	            "level": 25
	        },
	        {
	            "target_name": "CS482",
	            "source": 19,
	            "source_name": "CS380",
	            "target": 27,
	            "level": 25
	        },
	        {
	            "target_name": "CS474",
	            "source": 25,
	            "source_name": "CS470",
	            "target": 28,
	            "level": 10
	        }
	    ],
	    "group": []
	};
	var data2 = [];
	var data3 = [];

	var width = 1200; // value not used
	var height = 600; // value not used
	var radius = 25;

	var node;
	var link;
	var line_xy;

	var zoom;

	var arr;
	var svg;
	var container;
	var i,j;

	var zoom_view = false;

	var select_callback;
	var unselect_callback;

	var tree;
	var taken;
	var recommendation;

	var select_system_num = -1;
	var select_college_id = -1;

	var click_test = -1;

	function drawZoomButton()
	{
		var zoom_button_g = svg.append('g')
		.attr('transform','translate('+(width-50)+','+(height-100)+')');

		zoom_button_g
		.append('rect')
		.attr('x',0)
		.attr('y',0)
		.attr('width',40)
		.attr('height',40)
		.style('fill','white')
		.style('stroke','#000')
		.style('stroke-width',1)
		.on('click',zoomIn);

		zoom_button_g
		.append('rect')
		.attr('x',19)
		.attr('y',5)
		.attr('width',2)
		.attr('height',30)
		.style('fill','black')

		zoom_button_g
		.append('rect')
		.attr('x',5)
		.attr('y',19)
		.attr('width',30)
		.attr('height',2)
		.style('fill','black')

		zoom_button_g
		.append('rect')
		.attr('x',0)
		.attr('y',50)
		.attr('width',40)
		.attr('height',40)
		.style('fill','white')
		.style('stroke','#000')
		.style('stroke-width',1)
		.on('click',zoomOut);

		zoom_button_g
		.append('rect')
		.attr('x',5)
		.attr('y',69)
		.attr('width',30)
		.attr('height',2)
		.style('fill','black')
	}

	function drawTree(tree_data, taken_data, recommendation_data, select_callback_fun, unselect_callback_fun)
	{
		// temp init
		if(tree_data == null)
			tree_data = data;
		if(taken_data == null)
			taken_data = data2;
		if(recommendation_data == null)
			recommendation_data = data3;

		//
		tree = tree_data;
		taken = taken_data;
		recommendation = recommendation_data;
		select_callback = select_callback_fun;
		unselect_callback = unselect_callback_fun;

		zoom = d3.behavior.zoom()
			.scaleExtent([1, 4])
			.on("zoom", function(){
			container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");

			var scale = d3.event.scale;
			if(!zoom_view && scale >= 1.99)
			{
				node.selectAll('.lecture_code')
				.style('visibility', 'hidden');

				node.selectAll('.lecture_code_with_name')
				.style('visibility', 'visible');

				zoom_view = true;
			}
			else if(zoom_view && scale < 1.99)
			{
				node.selectAll('.lecture_code_with_name')
				.style('visibility','hidden');

				node.selectAll('.lecture_code')
				.style('visibility','visible');

				zoom_view = false;
			}
		});

		svg = d3.select('body').select('#svg')
		.call(zoom);
		svg.on("dblclick.zoom", null);

		width = svg[0][0].clientWidth;
		height = svg[0][0].clientHeight;

		//
		arr = new Array(tree.node.length);

		for(i=0;i<arr.length;i++)
		{
			arr[i] = new Array(tree.node.length);
			for(j=0;j<arr[i].length;j++)
			{
				arr[i][j] = -1;
			}
		}

		for(i=0;i<tree.edge.length;i++)
		{
			arr[tree.edge[i].target][tree.edge[i].source] = i;
		}

		for(i=0;i<tree.node.length;i++)
		{
			tree.node[i]['taken'] = 0;
			tree.node[i]['recommend'] = 0;
			for(j=0;j<taken.length;j++)
			{
				if(tree.node[i].system_num == taken[j].system_num
				&& tree.node[i].college_id == taken[j].college_id)
				{
					tree.node[i]['taken'] = 1;
					break;
				}
			}
			for(j=0;j<recommendation.length;j++)
			{
				if(tree.node[i].system_num == recommendation[j].system_num
				&& tree.node[i].college_id == recommendation[j].college_id)
				{
					tree.node[i]['recommend'] = 1;
				}
			}
		}

		var current_group =0;
		var group_index = 0;
		for(var i in tree.node)
		{
			if(tree.node[i].depth < 0)
			{
				var test = Math.floor(tree.node[i].depth/-10);
				if(current_group != test)
				{
					current_group = test;
					group_index = 0;
				}

				tree.node[i].x = current_group * 250 + (group_index % 3) * 75 - 200;
				if(width >= 950)
					tree.node[i].x += (width-950)/2;
				tree.node[i].y = height + 50 + Math.floor(group_index / 3) * 75;
				group_index++;
			}
			else
			{
				var level = Math.floor(tree.node[i].depth/10);
				var sub_level = tree.node[i].depth%10;

				tree.node[i].x = level * 250 + sub_level * 75-200;
				if(width >= 950)
					tree.node[i].x += (width-950)/2;
				tree.node[i].y = tree.node[i].relative_position * height / 100;
			}
		}


		container = svg.append('svg:g')
							.attr('transform', 'translate(0,0)scale(1)');

		// marker handling

		var defs = svg.append('svg:defs');
		var marker1 = defs.selectAll('marker')
		.data(["marker_arrow", "marker_arrow2"])
		.enter()
		.append('svg:marker')
		.attr('id', String)
		.attr('markerHeight', 12)
		.attr('markerWidth', 12)
		.attr('markerUnits', 'userSpaceOnUse')
		.attr('orient', 'auto')
		.attr('refX', 0)
		.attr('refY', 0)
		.attr('viewBox', '-5 -5 10 10')
		.append('svg:path')
		.attr('d', 'M 0,0 m -5,-5 L 5,0 L -5,5 Z')

		// link handling

		line_xy = [];
		tree.edge.forEach(function(d,i) {
			var ret = [];
			var x1 = tree.node[d.source].x;
			var y1 = tree.node[d.source].y;
			var x2 = tree.node[d.target].x;
			var y2 = tree.node[d.target].y;
			var level = d.level;
			var total_length = Math.sqrt(Math.pow(x2-x1,2)+Math.pow(y2-y1,2));
			line_xy[i] = [];
			line_xy[i][0] = x1 + (x2-x1) * (radius) / total_length;
			line_xy[i][1] = y1 + (y2-y1) * (radius) / total_length;;
			line_xy[i][2] = x1 + (x2-x1) * (total_length - radius-5) / total_length;
			line_xy[i][3] = y1 + (y2-y1) * (total_length - radius-5) / total_length;
			line_xy[i][4] = level;
		});

		link = container.selectAll('.link')
		.data(line_xy)
		.enter().append('line')
		.attr('x1', function(d) {return d[0];})
		.attr('y1', function(d) {return d[1];})
		.attr('x2', function(d) {return d[0];})
		.attr('y2', function(d) {return d[1];})
		.transition()
		.duration(700)
		.delay(tree.node.length*50)
		.attr('x2', function(d) {return d[2];})
		.attr('y2', function(d) {return d[3];})
		.attr('class', function(d) {if(d[4]>=50) return 'link strong_link'; else return 'link weak_link';});

		// node handling

		node = container.selectAll('.node')
		.data(tree.node)
		.enter().append('g')
		.attr('transform', function(d) {return "translate("+d.x+","+d.y+")";})
		.attr('opacity', function(d) {if(d.recent_year){return 1;} else{return 0.5;}})
		.attr('class', function(d) {
			if(d.taken == 1)
				return 'taken_node';
			else if (d.recommend == 1)
				return 'recommend_node';
			else
				return 'node';
		})
		.on('click', function(d, i) {
			clickNode(d.system_num,d.college_id, i);
		})
		.on('mouseover', function(d, i) {
			hoverNode(d.system_num,d.college_id, i);
		})
		.on('mouseout', function(d) {
			mouseOutNode();
		});

		node.append('circle')
		.attr('r',radius+2)
		.attr('class','hover_node_border');

		node.append('circle')
		.attr('r',0)
		.transition()
		.duration(500)
		.delay(function(d, i){return i*30;})
		.attr('r', radius);

		node.append('text')
			.attr('class', 'lecture_code')
			.text(function(d) {return d.code_name;})
			.style('opacity',0)
			.transition()
			.duration(700)
			.delay(tree.node.length*50)
			.style('opacity',1);
			//.text(function(d) {return d.code_name;});

		var g = node.append('g')
							.attr('class', 'lecture_code_with_name')
							.attr('visibility', 'hidden');

		g.append('text')
		.attr('y', -8)
		.text(function(d) {return d.code_name;});

		g.append('text')
		.attr('y', 0)
		.text(function(d) {return d.name_kor.substring(0,8);});

		g.append('text')
		.attr('y', 8)
		.text(function(d) {return d.name_kor.substring(8,16);});

		drawZoomButton();
	}

	function zoomIn()
	{
		var x = d3.transform(container.attr('transform')).translate[0];
		var y = d3.transform(container.attr('transform')).translate[1];
		var scale = d3.transform(container.attr('transform')).scale[0];
		var new_scale = Math.min(4.0, scale+1);
		var new_x = width/2 - (x-width/2)/(-scale)*new_scale;
		var new_y = height/2 - (y-height/2)/(-scale)*new_scale;
		zoom.translate([new_x,new_y]).scale(new_scale);
		zoom.event(svg.transition().duration(500));
			mouseOutNode();
	}

	function zoomOut()
	{
		var x = d3.transform(container.attr('transform')).translate[0];
		var y = d3.transform(container.attr('transform')).translate[1];
		var scale = d3.transform(container.attr('transform')).scale[0];
		var new_scale = Math.max(1.0, scale-1);
		var new_x = width/2 - (x-width/2)/(-scale)*new_scale;
		var new_y = height/2 - (y-height/2)/(-scale)*new_scale;
		zoom.translate([new_x,new_y]).scale(new_scale);
		zoom.event(svg.transition().duration(500));
			mouseOutNode();
	}

	function zoomDefault()
	{
		zoom.translate([0,0]).scale(1);
		zoom.event(svg.transition().duration(500));
			mouseOutNode();
	}

	function selectLecture(system_num, college_id)
	{
		var select_node = findNode(system_num, college_id);
		if(select_node)
		{
			// unselect current selected node
			if(select_system_num != -1 && select_college_id != -1)
			{
				container.selectAll('.selected_node').classed('selected_node',false);
				container.selectAll('.selected_node_border').remove();
			}

			// remove previous selected bridge links
			container.selectAll('.selected_link').remove();

			// update bridge nodes
			node.filter(function(d) {
				return d.system_num == system_num && d.college_id == college_id;
			}).classed('selected_node',true)
			.append('circle')
			.attr('r',radius+2)
			.attr('class','selected_node_border');//.attr('class', 'selected_node');

			// maintain bridge links
			container.selectAll('.select_link')
			.classed('selected_link',true)
			.classed('select_link',false);

			zoom.translate([(width/2-select_node.x*2.5),(height/2-select_node.y*2.5)]).scale(2.5);
			zoom.event(svg.transition().duration(500));

			select_system_num = system_num;
			select_college_id = college_id;

			select_callback(system_num, college_id);
		}
	}

	function unselectLecture()
	{
		if(select_system_num != -1 && select_college_id != -1)
		{
			// unselect current selected node
			container.selectAll('.selected_node').classed('selected_node',false);
			container.selectAll('.selected_node_border').remove();

			// remove bridge links
			container.selectAll('.selected_link').remove();

			zoomDefault();

			select_system_num = -1;
			select_college_id = -1;

			unselect_callback(select_system_num, select_college_id);
		}
	}

	function showRecommendation()
	{
		alert('showRecommendation() called. not implemented yet.');
	}

	function hideRecommendation()
	{
		alert('hideRecommendation() called. not implemented yet.');
	}

	function findNode(system_num, college_id)
	{
		var index;
		for(var i in tree.node)
		{
			if(tree.node[i].system_num == system_num &&
			tree.node[i].college_id == college_id)
			{
				return tree.node[i];
			}
		}
		return null;
	}

	function zoomInNode(system_num, college_id)
	{
		var zoom_node = findNode(system_num, college_id);
		if(zoom_node)
		{
			zoom.translate([(width/2-zoom_node.x*2.5),(height/2-zoom_node.y*2.5)]).scale(2.5);
			zoom.event(svg.transition().duration(500));

				mouseOutNode();
		}
	}

	function zoomOutNode(system_num, college_id)
	{
		var zoom_node = findNode(system_num, college_id);
		if(zoom_node)
		{
			zoom.translate([(width/2-zoom_node.x),(height/2-zoom_node.y)]).scale(1);
			zoom.event(svg.transition().duration(500));

				mouseOutNode();
		}
	}

	function clickNode(system_num, college_id, index)
	{
		if(click_test != index)
		{
			selectLecture(system_num, college_id);
			click_test = index;
		}
		else{
			unselectLecture();
			click_test = -1;
		}
	}

	function hoverNode(system_num, college_id, index)
	{
		var test = true;
		var start;
		var dest=index;
		var list = [];
		var list2 = [];
		var list3 = [];
		var list_line = [];
		if(tree.node[dest].taken == 0)
			list.push(dest);
		while(list.length>0)
		{
			dest = list.pop();
			for(start=0;start<arr.length;start++)
			{
				if(arr[dest][start]>=0)
				{
					list3.push(arr[dest][start]);
					if(tree.node[start].taken == 0)
					{
						list.push(start);
						list2.push(start);
					}
					else if(tree.node[start].taken == 1)
					{
						list2.push(start);
					}
				}
			}
		}

		// make hovering border visible
		node.filter(function(d) {
			return d.system_num == system_num && d.college_id == college_id;
		}).selectAll('.hover_node_border').style('visibility','visible');

		// update bridge circle and draw its border circle
		node.filter(function(d,i) {
			var j;
			for(j=0;j<list2.length;j++)
			{
				if(list2[j] == i)
					return true;
			}
			return false;
		})
		.classed('select_node',true)
		.append('circle')
		.attr('r',radius+2)
		.attr('class','select_node_border');//.classed('select_node', true);//.filter('.node').attr('class','select_node');

		// draw bridge links
		container.selectAll('.select_link')
		.data(list3)
    .enter().append('line')
		.attr('x1', function(d) {return line_xy[d][0];})
		.attr('y1', function(d) {return line_xy[d][1];})
		.attr('x2', function(d) {return line_xy[d][2];})
		.attr('y2', function(d) {return line_xy[d][3];})
		//.attr('stroke-width', function(d) {return line_xy[d][4];})
		//.attr('marker-end', function(d,i){ return 'url(#marker_arrow)';})
    .attr('class', function(d) {if(line_xy[d][4]>=50) return 'select_link strong_link'; else return 'select_link weak_link';});
	}

	function mouseOutNode()//system_num, college_id, index)
	{
		container.selectAll('.hover_node_border').style('visibility','hidden');
		container.selectAll('.select_node').classed('select_node',false);
		container.selectAll('.select_node_border').remove();
		container.selectAll('.select_link').remove();
	}
	</script>

<div style="height:100%; width:100%">
	<svg style="height:100%; width:100%" id="svg"></svg>
</div>
	<script>
	drawTree(null,null,null,null,null);
	</script>

</body>
</html>
