<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="https://www.google.co.kr/images/branding/product/ico/googleg_lodp.ico">
	
		<title>Google NewsLab Test</title>
		
		
		{% load staticfiles %}
		<!-- Bootstrap core CSS -->
		<link href="{% static "bootstrap-3.3.2-dist/css/bootstrap.min.css" %}" rel="stylesheet">

		<link href="{% static "css/mybase.css" %}" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="{% static "myscr.js" %}"></script>


	</head>

	<body>
		<div id="wrap">
			<nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://newslabfellows.com/">Google Newslab</a>
				</div>
				
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/newslabhome/">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="http://www.github.com/todokaist">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
			</nav>
		
		<br><br><br>

		
		{% block content %}
			<p>"내용"</p>
		{% endblock %}


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static "bootstrap-3.3.2-dist/js/bootstrap.min.js" %}"></script>
	
	</body>
</html>
